<style>body{margin:0;font-family:Roboto,Arial,Sans-serif;background:#fafafa}.flex{display:flex;align-items:center;justify-content:center; height: 100%;}*{box-sizing:border-box;}h1,h2,h3,h4{margin:0}h1 {margin: 0 0 40px 0;}</style>
<div class="flex">
<h1>Welcome To TeenPatti</h1>
</div>
